

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html,
body 
{
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap 
{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer 
{
  height: 60px;
  text-align: center;
}

#footer 
{
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) 
{
  #footer 
  {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

body
{  
    background: rgba(145,196,145, .6);
}

.section
{
    margin-bottom: 35px;
}

#parent
{
    padding-top: 70px;
}

#searchcontainer
{
    padding: 20px 0px 20px 0px; 
    margin-bottom: 25px; 
    display: none;
}

#searchform
{
    text-align: center; 
    margin: 0
}

#searchbar
{
    padding: 11px 19px;
    font-size: 17.5px;	
}

.subcontainer
{
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.15);
    padding: 35px 0px 0px 0px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    background: whitesmoke;
}

legend
{
    font-size: xx-large;
}

