<Files ../common.inc>
    Order allow,deny
    Deny from all
</Files>

Options +FollowSymLinks
Options -Indexes
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_FILENAME} -l
RewriteRule ^.*$ - [NC,L]

RewriteRule ^(img|css)($|/) - [L]

# For the search page, we're not using the id and state. We're using a slew of GET parameters
RewriteRule ^item/search/? index.php?controller=item&action=search&id=&state= [QSA]

# For our LinkedIn authentication method, we take in some GET parameters
RewriteRule ^user/endlinkedin/? index.php?controller=user&action=endlinkedin [QSA]

# Deleting Pictures
RewriteRule ^picture/delete/?([a-zA-Z0-9]*)?/?([0-9]*)?/? index.php?controller=picture&action=delete&id=$1&state=$2 [QSA]

# You can supply a return url to the signup and completeprofile pages
RewriteRule ^user/signin/null/100/? index.php?controller=user&action=signin&id=null&state=100 [QSA]

# The main rule
RewriteRule ^([a-zA-Z]*)/?([a-zA-Z]*)?/?([a-zA-Z0-9]*)?/?([0-9]*)?/?$ index.php?controller=$1&action=$2&id=$3&state=$4 [NC,L]

php_value upload_max_filesize 10M
php_value post_max_size 20M
php_value memory_limit 256M
php_value max_execution_time 60

php_value date.timezone 'America/New_York'
