
Options +FollowSymLinks
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_FILENAME} -l
RewriteRule ^.*$ - [NC,L]

RewriteRule ^(img|css)($|/) - [L]
RewriteRule ^([a-zA-Z]*)/?([a-zA-Z]*)?/?([a-zA-Z0-9\s\-]*)?/?([0-9]*)?/?$ index.php?controller=$1&action=$2&id=$3&state=$4 [NC,L]
#Note the \s in the id section. It is needed for searching
#Note the \- in the id section. It is needed for the token paypal returns after a billing agreement has been signed.

php_value upload_max_filesize 10M
php_value post_max_size 20M
php_value memory_limit 256M
php_value max_execution_time 60
