/* 
    Document   : howitworks
    Created on : Mar 18, 2013, 4:37:00 PM
    Author     : manish
    Description:
        Purpose of the stylesheet follows.
*/

.frame 
{ 
    width: 100%; 
    display: inline-block;
    height: 422px; 

    
    
}

.frame .desc
{
    width: 462px; 
    
    font-size: 150%;
    padding: 15px;
display: table-cell;
vertical-align: middle;
height: 100%;
   

}

.frame .desc .text
{
    font-size: 0.7em !important;
}

.frame .picture
{
    width: 462px; 
    
    padding: 15px; 
    display: table-cell;
    
    
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

img.comic
{
   -webkit-box-shadow:  0px 0px 6px 1px rgba(0, 0, 0, 0.5);
        
        box-shadow:  0px 0px 6px 1px rgba(0, 0, 0, 0.5);
}