.hero-unit
{
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.15);
        background: whitesmoke;
    padding: 35px;
    margin-bottom: 50px;
}

.page-header
{
    padding: 0px 0px 35px 0px;
    margin: 0px 0px 35px 0px;
    border-bottom: 1px solid #b6b6b6
}

.page-header h1
{
    text-align: center;
    margin: 0px;
}

.hiw-top
{
    text-align: center
}

.hiw-middle
{
    text-align: center
}

.hiw-bottom
{
    padding: 0px 35px 0px 35px;
}

.row.benefit
{
    padding-bottom: 35px;
}

.row.benefit.first
{
    padding-bottom: 0px;
}

.row.benefit h4
{
    margin-top: 0px;
}

.card
{
    width:235px; 
    height:220px;

    border:1px solid;

    -webkit-border-radius: 44px;
    
    border-radius: 5px;    display:inline-block;

}

.card .top
{
    height: 68%; 
    padding-top: 2px;
    padding-bottom: 2px; 
    background-color: rgba(183,200,124, 0.0); 
    text-align: center;
}

.card .ruler
{
    border-top: 1px solid black;
    margin-top: 0px;    
}

.card .bottom
{
    font-size:0.8em; 
    font-family: arial; 
    height: 32%; 
    background-color: rgba(207,207,207, .5);
    padding-left: 10px;
}