.benefit
{
    margin-bottom: 40px;
}

.hiwstep
{
    
}

.hiwstep .top, .middle
{
    margin-bottom: 20px;
}

.hiwstep .bottom
{
    margin: 0px 35px;
}

.hiwstep .bottom h4
{
    margin-bottom: 5px;
}

.sheet.headliner h1
{
    font-size: 60px;
    margin-bottom: 40px;
    padding-left: 20px
}

.sheet.headliner
{
    padding: 40px;
}

.sheet
{
    padding-left: 0px;
    padding-right: 0px;
}