.dashboard-section
{
    margin-bottom: 40px;
}

.dashboard-section:last-child
{
    margin-bottom: 0px;
}

.section-header
{
    margin-bottom: 10px
}

table
{
    background-color: white;
    width: 100%;
    table-layout: fixed;
}

i
{
    margin-right: 10px;
}

button.leave-feedback
{

    margin-bottom: 10px;
}

.actions-list
{
    list-style-type: none;
    margin-left: 0px;
}

.statuses
{
    margin-bottom: 10px;
}

#requests-table th.item, #current-transactions-table th.item
{
    width: 35%;
}

#requests-table th.total, #current-transactions-table th.total
{
    width: 5%;
}

#requests-table th.requester, #current-transactions-table th.borrower
{
    width: 9%;
}

#requests-table th.message, #current-transactions-table th.status
{
    width: 42%;
}

#requests-table th.action, #current-transactions-table th.action
{
    width: 9%;
}



#past-transactions-table th.item
{
    width: 35%;
}

#past-transactions-table th.total
{
    width: 5%;
}

#past-transactions-table th.borrower
{
    width: 9%;
}

#past-transactions-table th.status
{
    width: 51%;
}