/* 
    Document   : index
    Created on : Apr 4, 2013, 12:13:20 PM
    Author     : manish
    Description:
        Purpose of the stylesheet follows.
*/

img#profilepicture
{
    height: 180px;
    width: 150px;
}

.cardrow td
{
    border-bottom: 1px solid black;
    border-right: 1px dotted black;
    height: 30px;
}

#cardheader
{
    font-weight:bold;
    background-color: rgba(207,207,207, .5);
}

.title
{
    width: 12%;
}

.borrower
{
    width: 9%;
}

.comments
{
    width: 70%;
}

.comments.data
{
    text-align: left
}

.rating
{
    width: 9%;
}
