input[type="text"]#title
{
    width: 750px;
}

input[type="text"]#rate
{
    width: 100px;
}

.non-editable
{
    display: none;
}

textarea
{
    margin-bottom: 0px;
}

.modal, .modal.fade.in 
{ 
    width: 768px; 
    margin-left: -384px; 
}

#upload-picture-btn
{
  background-color: hsl(280, 100%, 30%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#aa00ff", endColorstr="#660099");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#aa00ff), to(#660099));
  background-image: -moz-linear-gradient(top, #aa00ff, #660099);
  background-image: -ms-linear-gradient(top, #aa00ff, #660099);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aa00ff), color-stop(100%, #660099));
  background-image: -webkit-linear-gradient(top, #aa00ff, #660099);
  background-image: -o-linear-gradient(top, #aa00ff, #660099);
  background-image: linear-gradient(#aa00ff, #660099);
  border-color: #660099 #660099 hsl(280, 100%, 25%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}

div#add-pictures
{
    position: absolute;
    z-index: 1 ;
    margin-top: 210px; 
    margin-left: 190px; 
    width: 220px    
}

input#hold
{
    width:151px; 
    margin-top: 0px;
    margin-bottom: 0px    
}

i#hold
{
    margin-left: 10px;
    display:none    
}

h2.rental-rate, input#location
{
    display:inline
}

div#map
{
    display: block    
}

input#zipcode
{
    display:none    
}

button#post-submit
{
    width: 150px; 
    margin: 20px auto 0px auto;    
}

img.bw {
    filter: url(/css/filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

#name-header
{
    color: gray;
}

.section#lender
{
    opacity: 0.2;
}

#rentlink
{
    opacity: 0.1
}