.dashboard-section
{
    margin-bottom: 40px;
}

.dashboard-section:last-child
{
    margin-bottom: 0px;
}

.section-header
{
    margin-bottom: 10px
}

table
{
    background-color: white;
    width: 100%;
    table-layout: fixed;
}

i
{
    margin-right: 10px;
}

button.leave-feedback
{

    margin-bottom: 10px;
}

.actions-list
{
    list-style-type: none;
    margin-left: 0px;
}

.statuses
{
    margin-bottom: 10px;
}

.requests-table th.item, .current-transactions-table th.item, .past-transactions-table th.item
{
    width: 35%;
}

.requests-table th.total, .current-transactions-table th.total, .past-transactions-table th.total
{
    width: 5%;
}

.requests-table th.user, .current-transactions-table th.user, .past-transactions-table th.user
{
    width: 9%;
}

.requests-table th.message, .current-transactions-table th.status, .past-transactions-table th.status
{
    width: 41%;
}

.requests-table th.action, .current-transactions-table th.action, .past-transactions-table th.action
{
    width: 10%;
}

input[type="radio"].reject-radio
{
    vertical-align: middle; 
    margin-top: -1px;    
}

.reject-options, .cancel-options
{
    margin-bottom:20px;    
}

#dashboard .dropdown-menu
{
    min-width: 0px;
    
}

.tab-content
{
    overflow:visible;
}

.thumbnail
{
    max-width: 160px;
    max-height: 125px;
}

a.show-hide-history
{
    text-decoration: none;
}

.reject-error, .cancel-error
{
    margin-left: 20px;
}

.message-received
{
    margin-top: 10px;
}

textarea#contact
{
    margin-bottom: 10px;
}

.active-items-table th.item, .inactive-items-table th.item
{
    width: 45%;
}

.active-items-table th.location, .inactive-items-table th.location
{
    width: 15%;
}

.active-items-table th.response-time, .inactive-items-table th.response-time
{
    width: 15%;
}

.active-items-table th.views, .inactive-items-table th.views
{
    width: 15%;
}

.active-items-table th.action, .inactive-items-table th.action
{
    width: 10%;
}