
hr
{
    border-color: #b6b6b6;
    border-top: none;
}

.sheet
{
    padding-left: 0px;
    padding-right: 0px;    
}

#faq-content h4
{
    margin-bottom: 10px
}

.question
{
    margin-bottom: 40px;
}

.media-heading
{
    margin-bottom: 10px
}

.borrower-hiw
{
    margin-bottom: 15px
}

span.step
{
    color: red; font-weight: bold
}