#heading 
{
    color: white;
    font-size: 64px;
    letter-spacing: -2px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: .9em;
    margin-top: 160px;
}

.btn-xlarge 
{
    padding: 18px 40px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    font-weight: bold;
}

#join-button
{
    margin-top: 40px;
}