/* 
    Document   : post
    Created on : Apr 2, 2013, 2:29:10 PM
    Author     : manish
    Description:
        Purpose of the stylesheet follows.
*/

img#profilepicture
{
    height: 180px;
    width: 150px;
}
